// Variables

$shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
$shadowHover: 2px 0px 8px 0 rgba(0, 0, 0, 0.4);

$transition: 0.2s;

$radius: 25px;

$bgColor: #f8f8f8;
$bgColor2: #fff;

$uiPrimaryColor: #137dc4;

$textPrimaryColor: #333;
$textMutedColor: #666;
$textInverseColor: #fff;
