* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 80px;
  margin: 0 auto;
  background-color: #313131;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.header .header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-nav .nav-item {
  padding: 15px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s;
}

.header .header-nav .nav-item:hover {
  background-color: #444444;
}

.main {
  margin-top: 50px;
}

