// Colors
$uiPrimaryColor: #313131;
$uiPrimaryLightColor: #444444;
$uiBorderColor: #dddddd;
$uiLinkColor: #0e4dd4;

$textPrimaryColor: #313131;
$textInverseColor: #ffffff;
$textLinkColor: #0e4dd4;

// Others
$menuHeight: 80px;

$radius: 5px;

$transition: 0.2s;

$border: 1px solid $uiBorderColor;
