@import "./variables";

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: $menuHeight;
    background-color: $uiPrimaryColor;

    .header-nav {
        display: flex;
        height: $menuHeight;
        justify-content: center;
        align-items: center;

        .nav-item {
            padding: 10.5px 12px;
            margin: 0 10px;
            text-decoration: none;
            color: $textInverseColor;
            border-radius: $radius;

            &:hover {
                background-color: $uiPrimaryLightColor;
            }
        }
    }
}

.main {
}
