@import "./variables";

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: fit-content;
    padding: 0 80px;
    margin: 0 auto;
    background-color: $uiPrimaryColor;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    .header-nav {
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-item {
            padding: 15px 20px;
            font-size: 18px;
            text-decoration: none;
            color: $textInverseColor;
            transition: all $transition;

            &:hover {
                background-color: $uiPrimaryLightColor;
            }
        }
    }
}

.main {
    margin-top: 50px;

    .button {
        cursor: pointer;
        display: block;
        padding: 8px 12px;
        margin: 5px;
        width: fit-content;
        color: $textInverseColor;
        text-decoration: none;
        background-color: $uiLinkColor;
        border: none;
        border-radius: $radius;
        outline: none;
    }

    .table {
        width: 100%;
        margin: 10px 0;
        border: $border;
        border-radius: $radius;
        border-collapse: collapse;

        th,
        td {
            padding: 5px;
            border: $border;
        }

        th {
            text-align: left;
        }

        a {
            margin: 0 5px;
            text-decoration: none;
            color: $textLinkColor;
        }
    }

    .form {
        .form-input {
            display: block;
            box-sizing: border-box;
            width: 100%;
            margin: 5px;
            padding: 8px 12px;
            font-size: 1rem;
            color: #333;
            border: $border;
            border-radius: $radius;
            outline: none;
        }

        .form-textarea {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 200px;
            margin: 5px;
            padding: 8px 12px;
            font-size: 1rem;
            color: #333;
            border: $border;
            border-radius: $radius;
            outline: none;
            resize: vertical;
        }

        .form-button {
            cursor: pointer;
            margin: 5px;
            padding: 6px 8px;
            font-size: 1rem;
            color: $textInverseColor;
            background-color: $uiPrimaryColor;
            border: none;
            border-radius: $radius;
            outline: none;
        }
    }
}
