@import "./variables";

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: fit-content;
    padding: 0 80px;
    margin: 0 auto;
    background-color: $uiPrimaryColor;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    .header-nav {
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-item {
            padding: 15px 20px;
            font-size: 18px;
            text-decoration: none;
            color: $textInverseColor;
            transition: all $transition;

            &:hover {
                background-color: $uiPrimaryLightColor;
            }
        }
    }
}

.main {
    margin-top: 50px;
}
